
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#main_wrapper {
	background-color: #fff;
	padding: 60px 0;
  min-height: calc( 100vh - 68px - 50px);
}

#main_wrapper h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#main_wrapper h3 {
	color: white;
	font-size: 30px;
    line-height: 40px;
}

#main_wrapper h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#main_wrapper p {
	text-align: left;
	color: white
}


#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: center;
}

#c p {
	color: white
}

.btn {
  background-color: #0096fb;
}

/* Header */
.header-banner {
  background-color: #0096fb;
  padding: 5px 0;
}

.header-banner p {
  margin: initial;
  color: #000000;
  font-family: Montserrat;
}

.header-banner p.title {
font-size: 16px;
}

.header-banner p.desc {
  font-size: 14px;
}

.header-banner .col-2 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.header-banner .col-2 .header_cart a {
  display: inline-flex;
  align-items: center;
  line-height: initial;
}

.header-banner .col-2 .header_cart span {
  font-size: 12px;
  font-family: Montserrat;
  color: #000000;
}

.header-banner .col-2 .header_cart a i {
  line-height: initial;
}


/* Mega Menu */
#megamenu {
  background: #000;
  height: 60px;
  position: relative;
  z-index: 999;
}

#megamenu .container {
    display: flex;
    align-items: center;
}

#megamenu .container #logo {
    flex: 2;
    margin-right: 15px;
}

#megamenu .container #logo img {
    height: 20px;
    width: auto;
    object-fit: contain;
}

#megamenu.megamenu_desktop h2 {
    display: none;
}

#megamenu.megamenu_mobile h2 i {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}
#megamenu.megamenu_desktop .level_1 {
    position: relative;
    margin: initial;
}
#megamenu.megamenu_desktop .level_1_item {
    float: left;
    list-style: none;
}
#megamenu.megamenu_desktop .level_1_link {
    height: 60px;
    display: block;
    font-size: 16px;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    padding: 0px 20px;
    font-family: Montserrat;
}
#megamenu.megamenu_desktop .level_1_item:hover {
    background: #0096fb;
}

#megamenu.megamenu_mobile .level_1 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    margin: 0 auto;
    padding: initial;
}
#megamenu .level_2_wrap, #megamenu.megamenu_mobile .level_1_item {
    background: #fff;
}
#megamenu.megamenu_mobile .level_1_item {
    border-top: 1px solid rgba(0,0,0,0.15);
    list-style: none;
}

#megamenu.megamenu_mobile .level_1_link {
    display: block;
    color: #000000;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Montserrat;
}

#megamenu.megamenu_mobile h2 {
    height: 50px;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 30px 0 0;
    font-size: 14px;
    line-height: 49px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    color: #fff;
}
#megamenu.megamenu_mobile h2 i:before {
    content: '\f107';
    font: 30px/49px "FontAwesome";
    color: #fff;
}
#megamenu.megamenu_mobile h2.active i:before {
    content: '\f106';
}
a {
  text-decoration: none;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out,border-color 0.3s ease-in-out,color 0.3s ease-in-out;
}

label {
  margin-top: 0px;
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #000;
}

input {
  background-color: #fff;
  color: #000;
  box-shadow: inset 0px 2px 3px #dddddd;
  -webkit-box-shadow: inset 0px 2px 3px #dddddd;
  -moz-box-shadow: inset 0px 2px 3px #dddddd;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  height: 43px;
  padding-left: 14px;
  padding-right: 14px;
}
input[type=submit] {
  width: 150px;
  height: 50px;
  float: right;
  font-size: 16px;
  border: initial;
}
h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* Media Query */
@media (max-width: 991px) {
  #megamenu {
    height: 50px;
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .header-banner .row {
      display: flex;
      align-items: center;
  }
}